@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body{
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 20px;
    background-color: blueviolet;
  
}

.top{
    max-width: 12000px;
    margin: 0 auto;
    background-color:blueviolet;
    padding: 20px;
    box-shadow: 0 0 10px blueviolet;
}
.return{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: 30px;
    width: 50px;
}
.return{
    color: antiquewhite;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    
}
.section{
    margin-bottom: 30px;
    text-align: center;
    color: antiquewhite;
    padding: 10%;

}
.section h2{
    border-bottom: 2px dashed antiquewhite;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.book-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.book{
    width: 12%;
    margin-bottom: 20px;
    background-color: aqua;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.book img{
   
    width: 100%;
    height: auto;
  
}