@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root{
    --color-principal:#7A1CAC;
    --color-text:#86D293;
    --color-alternativa:#C1E2A4;
    --color-secundaria:#FDFAD9;

    --fonte-titulo:"Righteous", serif;
    --fonte-texto:"Sarala", serif;


}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
body{
    height: 100vh;
    font-size: 100%;
    background-color:var(--color-principal);
}
.Cabecalho{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 24px;
}

.cabecalho_menu{
display: flex;
gap: 32px;
}
.cabecalho_menu_item{
    font-family: var(--fonte-texto);
    color:var(--color-text);
    font-weight:400;
    font-size: 18px;
}
.contudo{
    border-top:0.4px solid var(--color-alternativa);
    margin-bottom: 48px;
   
}
.contudo-principal{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around ;
}
.Escrito{
    display: flex;
    flex-direction: column;
    gap:48px;
}
.escrito_titulo{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 64px;
    color: var(--color-text);
}
.escrito_sub{
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 24px;
    color:var(--color-text);

}
.button{
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(red, green, blue, alpha) ;
    border-radius: 20px;
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-text);
}
.button:hover {
    background-color: var(--color-alternativa);
}

.feed{
    height: 450px;
}
.feed{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top: 48px;
    animation: mover 2s infinite alternate;

}
@keyframes mover {
    from {
        transform: translateY(0); /* Posição inicial */
    }
    to {
        transform: translateY(-100px); /* Move 200px para a direita */
    }
}

.Heleni_aula{
    border-top: 0.4px solid var(--color-text);
    padding-top: 48px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-text);
    margin-bottom: 16px;
}
.paragrafo{
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text);   
}
.avatar{
    height: 400px;
    display: block;
    margin: 0 auto;
    }
  



